button {
    font-size: 25px !important;
}

.btn-success:hover {
    background-color: red;
}

canvas {
    animation-name: border_anim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes border_anim {
    from{box-shadow:1px 1px 50px yellowgreen;}
    to{box-shadow: 1px 1px 50px blue;}
}   

body {
   background-color: indianred;
}